/********** fonts **********/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
$redhat: "Red Hat Display", sans-serif;
/********** Colors **********/
$white: #ffffff;
$black: #413e3e;
$red: #fd7575;
$green: #8de37f;
$blue: #75abfd;
$yellow: #e9dc65;
$purple: #a555ec;
